*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid{
    width: 1200px;
    margin: 0 auto;

}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    background-color: #1E1C21;
    height: 82px;
    padding-top: 25px;
    padding-left: 140px;
}

a{
    color:forestgreen
}