
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid{
    width: 1200px;
    margin: 0 auto;

}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    background-color: #1E1C21;
    height: 82px;
    padding-top: 25px;
    padding-left: 140px;
}

a{
    color:forestgreen
}

.menu{
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.menu a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;

}

.banner {

    height: 607px;
    background-image: url(../img/ImagemBanner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.conteudo-banner h1{

    color:white;
    font-family:"Titillium Web";
    font-size: 80px;

}

.conteudo-banner p{

    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    
}

.conteudo-banner a{

    padding: 15px;
    background-color: #c31616;
    color: white;
    font-family: "Roboto";
    text-decoration:none;
    text-transform:uppercase;
}

.conteudo-banner {

    width: 497px;
    height: 237px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}